/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

/* ==========================================================================
   Base styles: opinionated defaults ...
   ========================================================================== */

html {
    font-family: 'Raleway', sans-serif;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    text-rendering: optimizeLegibility; /* optional: for older browsers */
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern"; /* Firefox 14+ */
    font-feature-settings: "kern"; /* standard */
    font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/

    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: #2f2f2f;
    background: #f2f2f2;

    overflow-x: hidden;
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden;*/
    /*  display: none;*/
    /*	max-width: 1200px;
        margin: 0 auto;*/
}

img {
    vertical-align: middle;
    display: block;
    width: 100%;
}

header {
    /*position: relative;*/
}

nav ul li a, nav ul li a:hover, nav ul li a:focus {
    text-decoration: none !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
    background-color: inherit !important;
}

@media (min-width: 768px) {

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;
    }

    nav ul li {
        display: inline-block;
        padding: 10px 20px 0 0;
    }

    nav.primary-nav {
        display: none;
    }

    nav ul {
    }

    .menu-item {
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
    }

    .menu-item:not(.active):after {
        display: none;
    }

    .menu-item.active:after {
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        margin: auto;
        /* margin-left: 15px; */
        content: '';
        width: 20px;
        height: 1px;
        background-color: #FFF;
        -webkit-animation: fadeInImage 1.5s ease-out;
        -moz-animation: fadeInImage 1.5s ease-out;
        -o-animation: fadeInImage 1.5s ease-out;
        animation: fadeInImage 1.5s ease-out;
    }

    .ng-sticky-fixed .menu-item.active:after {
        background-color: #555;
    }

    .pseudo-sticky {
        min-height: 80px;
        position: fixed;
        width: 100%;
        z-index: 127;
        transition: background 250ms ease-in-out;
    }

    /*    .menu-item:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 0;
            transition: width 0s ease, background .5s ease;
        }

        .ng-sticky-fixed {
            transition: background .8s ease;
        }

        .ng-sticky-fixed .menu-item:after {
            background: #555 !important;
        }

        .menu-item:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 1px;
            width: 0;
            background: #FFF;
            transition: width .5s ease;
        }

        .menu-item.active:before {
            width: 100%;
            background: #555;
            transition: width .5s ease;
        }

        .menu-item.active:after {
            width: 100%;
            background: #FFF;;
            transition: all 0s ease;
        }*/
    /*    .menu-item.flip {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
        }*/
    /*    .menu-item span {
            display: block;
            -moz-transform: scaleX(1);
            -o-transform: scaleX(1);
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }*/
    /*   .menu-item.flip span {
           display: block;
           -moz-transform: scaleX(-1) !important;
           -o-transform: scaleX(-1) !important;
           -webkit-transform: scaleX(-1) !important;
           transform: scaleX(-1) !important;
           filter: FlipH !important;
       }*/

}

@media screen and (max-width: 768px) {

    .sm-no-padding {
        padding: 0;
    }

    .content-container.sm-no-padding {
        padding: 0;
    }

}

.nav-container {
    position: absolute;
    z-index: 2000;
    width: 100%;
}

.brand.gray {
    display: none;
}

.ng-sticky-fixed .brand.gray {
    display: initial;
}

.ng-sticky-fixed .brand.white {
    display: none;
}

.brand, .brand svg {
    width: 50px;
    height: 50px;
    z-index: 300000;
    margin-top: 12px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 8px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 24px;
    height: 1px;
    border-radius: none;
    background-color: #666666;
}

.navbar-toggle {
    margin-right: 0;
    padding: 20px 0 20px 10px;
}

.navbar-nav {
    float: right;
}

.thumb img {
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .navbar-header {
        background-color: #FFF;
        opacity: 0.95;
        border-bottom: none;
        min-height: 80px;
        border-bottom: 2px solid rgba(85, 85, 85, 0.1);
    }

    .brand.gray {
        display: initial !important;
    }

    .brand.white {
        display: none !important;
    }

    .navbar-collapse {
        background-color: #555;
    }

    .navbar-collapse li:not(:last-child) {
        border-bottom: 1px solid #FFF;
    }

    .navbar-nav {
        float: initial;
    }

    .navbar-header, .navbar-collapse ul {
        padding: 0 30px;
    }

    .navbar-nav > li > a {
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-nav > li:first-child, .navbar-nav > li:last-child {
    }

    .navbar-collapse ul.nav a.active {
        font-weight: bold;
    }

    .ng-sticky-fixed li > a, .ng-sticky-fixed li > a > span {
        color: #FFF !important;
    }

    .ng-sticky-fixed {
        opacity: 1 !important;
    }

    .thumb {
        width: 100% !important;
        padding: 15px 0 !important;
    }

    .thumb > div {
        transform: none !important;
        opacity: 1 !important;
    }

    .home-slider > div {
        min-height: 350px;
        margin-top: 80px;
    }

    .pseudo-sticky {
        background-color: #FFF !important;
        min-height: 80px !important;
        position: fixed !important;
        top: 0 !important;
        width: 100%;
        z-index: 20000 !important;
        opacity: 1;
        border-bottom: 2px solid rgba(85, 85, 85, 0.1);
    }

}

/*.cycle-slideshow div {
	background-position: center center;
	width: 100%;
	min-height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
}*/

.slideshow-main {
    margin-top: 80px;
}

.slideshow-main div {
    background-position: center center;
    width: 100%;
    min-height: 100px;
    background-size: cover;
}

.item {
    opacity: 1;

    /*	border: 40px solid #f2f2f2;*/

    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.item:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: gray;
}

.description {
    width: 100%;
    display: inline-block;
    text-align: center;
    opacity: 0;
}

.item:hover .description {
    opacity: 1;
}

/* Sections styling */

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1180px;
}

section {
    margin-top: 100px;
}

.third {
    float: left;
    width: 100%;
    padding: 0 20px;
}

.two-thirds {
    float: left;
    width: 100%;
    padding: 0 20px;
}

/* Text styling */

h1 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 30%;
    margin: 0;
    float: left;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 101;
}

h1 a {
    background: url('../img/gajowniczek-logo.png') no-repeat center center;
    background-size: 100%;
    display: block;
    width: 60px;
    height: 40px;
}

h2 {
    font-size: 1.1875em; /* 1.4 */
    text-transform: uppercase;
    margin: 2em 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
}

h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 1em 0 0.5em 0;
}

p {
    font-size: 1em;
    margin: 1.5em 0;
}

.centered-container {
    text-align: center;
}

.parallax-window {
    /*    min-height: 600px;*/
    background: transparent;
}

.bg-holder {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
}

.mail {
    display: block;
    width: 100%;
}

#contact a, #contact a:focus {
    text-decoration: none;
    color: #2f2f2f;
}

.social-links-container a {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 10px;
}

.social-links-container a:hover {
	opacity: 50%;
}

.social-links-container #linkedin {
	background: url('../img/svg/linkedIn.svg') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
}

.social-links-container #dribbble {
	background: url('../img/svg/dribbble.svg') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
}

.social-links-container #behance {
	background: url('../img/svg/behance.svg') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
}

#impressum p {
	font-size: 22px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 480px) {

    .cycle-pager span {
        width: 30px;
    }

}

@media screen and (min-width: 768px) {

    body {
        font-size: 30px;
    }

    nav ul li a, nav ul li a:hover, nav ul li a:focus {
        font-size: 0.45em;
    }

    nav.primary-nav {
        display: block;
    }

    .slicknav_menu {
        display: none;
    }

    .slideshow-main {
        margin-top: 0;
    }

    h1 {
        background-size: 600px auto;
    }

    .third {
        width: 33.33%;
    }

    .two-thirds {
        width: 66.66%;
    }

    .centered-container {
        width: 80%;
        margin: auto;
    }

    /*    #about .content-container {
            margin-top: -220px;
        }*/
}

@media screen and (min-width: 1000px) {

    h1 {
        background-size: 700px auto;
    }

	.social-links-container a {
		display: inline-block;
		width: 48px;
		height: 48px;
		margin: 0 20px;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}

/*! Gray v1.4.2 (https://github.com/karlhorky/gray) | MIT */
@media screen and (min-width: 768px) {
    .grayscale {
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        filter: gray;
    }

    .grayscale.grayscale-fade {
        transition: filter .5s
    }

    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .grayscale.grayscale-fade {
            -webkit-transition: -webkit-filter .5s;
            transition: -webkit-filter .5s
        }
    }.grayscale.grayscale-fade:hover, .grayscale.grayscale-off {
         -webkit-filter: grayscale(0);
         filter: grayscale(0)
     }

    .grayscale.grayscale-replaced {
        -webkit-filter: none;
        filter: none
    }

    .grayscale.grayscale-replaced > svg {
        -webkit-transition: opacity .5s ease;
        transition: opacity .5s ease;
        opacity: 1
    }

    .grayscale.grayscale-replaced.grayscale-fade:hover > svg, .grayscale.grayscale-replaced.grayscale-off > svg {
        opacity: 0
    }
}

/* Sz work */

.text-center {
    text-align: center;
}

.hide-scroll {
    overflow-y: hidden;
}

.center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.width-100 {
    width: 100%
}

.page-container {
    position: absolute !important;
    left: 0;
    top: 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    /* overflow-x: hidden;*/

}

.page {
    min-height: 100%;
    background-color: transparent;
    position: absolute;
    min-width: 100%;
}

.page-not-clipped {
    overflow-x: visible;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.overflow {
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .overflow {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

.overflow-x {
    overflow-x: hidden;
}

.overflow-y {
    /* overflow-y: hidden;*/
}

.close-button {
    right: 40px;
    top: 20px;
    position: absolute;
    z-index: 2;
}

.close-button span {
    /*margin-right: 10px;*/
}

.close-button a, .close-button a:focus, .close-button a:hover {
    color: #FFF;
    text-decoration: none;
}

.gallery-slider-image-container {
    position: relative;
    min-height: 400px;
}

.gallery-image {
    max-width: calc(100% * 0.7);
    margin-left: auto;
    margin-right: auto;
}

.gallery-nav-item {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: inherit;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 5px;
    border: 1px solid #FFF;
}

.gallery-nav-item.active {
    background-color: #FFF;
}

.spinner-container {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    height: 0px;
    bottom: 120px;
    width: 60px;
    margin: auto;
}

.portfolio-nav {
}

.portfolio-nav-left-item, .portfolio-nav-left-item:focus, .portfolio-nav-left-item:hover {
    color: #FFF;
    text-decoration: none;
}

.portfolio-nav-right-item, .portfolio-nav-right-item:focus, .portfolio-nav-right-item:hover {
    color: #FFF;
    text-decoration: none;
}

.content-container {
    max-width: 1410px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0 30px;
}

.portfolio-footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.portfolio-info {
    display: inline-block;
    width: 20%;
}

.portfolio-info-button {
    position: relative;
    top: 20px;
}

.portfolio-nav {
    display: inline-block;
    width: 20%;
}

.portfolio-nav span {
    margin-right: 5px;
    margin-left: 5px;
}

.link-visit {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin-top: 30px;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 400;

    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    opacity: 1;
}

.link-visit:hover, .link-visit:focus {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

@media (min-width: 768px) {
    .portfolio-nav span {
        float: right;
    }
}

.gallery-nav {
    display: inline-block;
    width: 60%;
    max-height: 35px;
    padding: 8px 0 0 0;
}

.white-ico svg {
    fill: #FFF;
    max-width: 30px;
    max-height: 30px;
    min-width: 15px;
    min-height: 15px;
}

.second-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.opacity-0-4 {
    opacity: 0.4;
}

#indie-rock.background {
    background-color: rgb(73, 139, 187);
}

#indie-rock .background-fade {
    background-color: rgba(73, 139, 187, 0.8)
}

#lutenisa.background {
    background-color: rgb(25, 162, 106);
}

#lutenisa .background-fade {
    background-color: rgba(25, 162, 106, 0.8);
}

#magdalena-wielgus.background {
    background-color: rgb(242, 80, 78);
}

#magdalena-wielgus .background-fade {
    background-color: rgba(242, 80, 78, 0.8);
}

#maison-premiere.background {
    background-color: rgb(255, 207, 83);
}

#maison-premiere .background-fade {
    background-color: rgba(255, 207, 83, 0.8);
}

#matthias-fink.background {
    background-color: rgb(240, 155, 36);
}

#matthias-fink .background-fade {
    background-color: rgba(240, 155, 36, 0.8);
}

#no-way.background {
    background-color: rgb(240, 201, 48);
}

#no-way .background-fade {
    background-color: rgba(240, 201, 48, 0.8);
}

#overcome-autism.background {
    background-color: rgb(252, 117, 114);
}

#overcome-autism .background-fade {
    background-color: rgba(252, 117, 114, 0.8);
}

#movie-series.background {
    background-color: rgb(105, 102, 159);
}

#movie-series .background-fade {
    background-color: rgba(105, 102, 159, 0.8);
}

#illustration .background {
    background-color: rgb(46, 51, 73);
}

#illustration .background-fade {
    background-color: rgba(46, 51, 73, 0.8);
}

#henriod .background {
    background-color: rgb(144, 145, 137);
}

#henriod .background-fade {
    background-color: rgba(144, 145, 137, 0.8);
}

#genero .background {
    background-color: rgb(248, 121, 163);
}

#genero .background-fade {
    background-color: rgba(248, 121, 163, 0.8);
}

.ng-animate-enter {
    overflow-x: hidden;
}

.no-ng-sticky-fixed {
    transition: background .8s ease;
    background-color: transparent;
    min-height: 80px;
    position: absolute;
    width: 100%;
}

.ng-sticky-fixed {
    background-color: #FFF;
    min-height: 80px;
    position: fixed !important;
    top: 0;
    width: 100%;
    opacity: 0.95;
    border-bottom: 2px solid rgba(85, 85, 85, 0.1);
    z-index: 2000;
}

.ng-sticky-fixed li > a, .ng-sticky-fixed li > a > span {
    color: #555;
}

.sp {
    padding: 2em 0;
}

.sp-top {
    padding-top: 2em;
}

.sp-top.x3 {
    padding-top: 6em;
}

@media (max-width: 768px) {
    .xs-sp-bottom {
        padding-bottom: 2em;
    }
}

.sp-bottom {
    padding-bottom: 2em;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

@media (max-width: 768px) {

    .padding {
        padding: 40px 20px;
        float: left;
        width: 33.33%;
    }

    .left-parallax-item {
        padding-left: 0;
        padding-right: 40px;
    }

    .right-parallax-item {
        padding-right: 0;
        padding-left: 40px;
    }

}

@media (min-width: 769px) {

    .pb-0 {
        padding-bottom: 0 !important;
    }

    #about {
        margin-top: -70px;
    }

    .padding {
        padding: 80px 40px;
        float: left;
        width: 33.33%;
    }

    .left-parallax-item {
        padding-left: 0;
        padding-right: 80px;
    }

    .right-parallax-item {
        padding-right: 0;
        padding-left: 80px;
    }

}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 500;
}

.animation-container {
    position: fixed;
    pointer-events: none;
    z-index: 900000;
    display: none;
}

.fullscreen-slider div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slideshow-main .home-slider > div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pointer {
    cursor: pointer;
}

.full-screen-header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

@media (min-width: 769px) {
    .gt-sm-flex {
        display: flex;
    }

    .gt-sm-hide {
        display: none;
    }
}

@media (max-width: 768px) {

    .mobile-line {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .mobile-line:before {
        content: "";
        display: block;
    }

    .sm-hide {
        display: none;
    }

}

.background.white {
    background-color: #FFF;
}

@media (min-width: 971px) {
    .portfolio-description {
        width: 80%;
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .hide-gt-xs {
        display: none !important;
    }

    .portfolio-mobile {
        background-color: #FFF;
    }

    .portfolio-mobile .nav-container {
        position: fixed;
    }

    .portfolio-mobile div.content-container.fix {
        margin-top: 160px;
    }

    .portfolio-mobile .close-button {
        right: 0;
        top: 0;
        position: initial;
        z-index: 2;
        line-height: 72px;
    }

    .portfolio-mobile .close-button span {
        margin-right: 0;
    }

    .portfolio-mobile .close-button span svg {
        width: 20px;
        height: 20px;
        fill: gray;
    }

    .portfolio-mobile h3 {
        margin-top: 55px;
    }

    .portfolio-mobile .section-header.big:before {
        width: 20px;
        height: 1px;
    }

    .portfolio-mobile .portfolio-description {
        text-align: center;
    }

    .portfolio-mobile .gallery-image {
        padding: 15px 0;
        max-width: 100%;
    }

    .portfolio-mobile .portfolio-nav {
        padding: 15px 0 25px 0;
    }

    .portfolio-mobile svg {
        fill: #a0a0a0;
    }

}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99999;
}

.portfolio-top-nav {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.vis-hidden {
    visibility: hidden;
}

@media (min-width: 769px) {
    #portfolio h2 {
        margin: 3em 0;
    }
}

.op-0 {
    opacity: 0 !important;
}