<style>
  .background-color {
    background-color: #5A53B1;
  }

  .background-fade-color {
    background-color: rgba(90, 83, 177, 0.95);
  }

  .p2-objectives {
    background-color: #F2F2F2;
  }
  
  .p2-objectives .p2-objectives--number {
    background-color: #4847A4;
  }

</style>


<main id="craftsy" class=" z-index-2500">
  <div class="">
    <div ng-if="!(loading || !initializing)" class="fade-in">
      <div class="portfolio-top-nav">
        <div class="">
          <div ng-hide="loading || !initializing" class="fade-in">
            <div class="close-button-fixed pointer fast-fade-in">
              <span href ng-click="goHome()" class="portofolio-close">CLOSE</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div ng-hide="loading || !initializing" class="fade-in">
          <!---------------------- content start----------------------------->
          <div class="p2-row-image"
               style="background-image: url('assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-01.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-01.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row container p2-top">
            <div class="vertical-align">
              <div class="row ">
                <div class="col-md-8">
                  <h2>Overview</h2>
                  <div class="p2-top-description">
					<p>A concept for a learning platform, where people can watch different tutorials related with crafting such as: drawing, painting, sewing, knitting, quilting or making jewelry. Users can not only learn the new skills but also share their progress with other members.</p>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-3 xs-hidden">
                  <div class="p2-overview-detail-container">
                    <div class="bold">Software</div>
                    <div>Sketch, Invision<br>Illustrator</div>
                  </div>
                  <div class="p2-overview-detail-container mt-3">
                    <div class="bold">Team</div>
                    <div>Individual</div>
                  </div>
                  <div class="p2-overview-detail-container mt-3">
                    <div class="bold">Duration</div>
                    <div>3 weeks</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row-image"
               style="background-image: url('assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-02.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-02.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row container">
            <div class="vertical-align">
              <div class="row">
                <div class="col-md-8">
                  <h2>Purpose and context</h2>
                  <div>
                    <p>The main purpose of Craftsy is to create a community of people interested in learning how to make handmade decorative articles. Users have an opportunity to learn the new skills from recorded video tutorials and share their new knowledge with other members.
</p>
                    <p>My objective was to create tutorials divided on 8 main groups (drawing, painting, etc.). Giving the users an option to browse courses based on creators and possibility to bookmark both projects and artists. Chance to publish executed projects and get feedback from instructors and other users.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row p2-objectives">
            <div class="vertical-align">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <h2>Objectives</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="p2-objectives--number">
                      1
                    </div>
                    <div class="p2-objectives--title">
                      Competitor analysis
                    </div>
                    <div class="p2-objectives--description">
                      Researching strengths and weaknesses based on popular platforms such as CreativeBug and Skillshare.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="p2-objectives--number xs-mt-2">
                      2
                    </div>
                    <div class="p2-objectives--title">
                      Building hierarchy
                    </div>
                    <div class="p2-objectives--description">
                      Understanding the most important functionalities of the design and making them stand out.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="p2-objectives--number xs-mt-2">
                      3
                    </div>
                    <div class="p2-objectives--title">
                      Evoking emotion
                    </div>
                    <div class="p2-objectives--description">
                      Bringing vivid colours, organic shapes and textures to connect the branding with creativity and crafting.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row-custom container">
            <div class="vertical-align">
				<div>
					<div class="row">
						<div class="col-md-8">
							<h2>Moodboard</h2>
							<div>
								<p>I concentrated my research on activities that require crafting and manual skills. Most of my visual inspirations were related with layers, paper textures and organic shapes. I wanted to evoke the feelings that would connect the brand with creativity, playfulness and fun way of learning.</p>
							</div>
						</div>
					</div>
				</div>
            </div>
          </div>
          <div class="p2-row-image mt-4" style="background-image: url('assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-03.jpg')"></div>
          <div class="p2-row-image-mobile mt-3">
            <img src="assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-03.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row-custom container">
            <div class="vertical-align">
              <div class="">
                <div class="row">
                  <div class="col-md-8">
                    <h2>Branding</h2>
                    <div>
                      <p>The visual language of Craftsy is based on contrast between rounded shapes of backgrounds & UI elements and sharpness of logo and typography.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 title">
                    Typography
                  </div>
                  <div class="col-xs-12">
                    <img src="assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-04.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 title">
                    Primary colours
                  </div>
                  <div class="col-xs-12">
                    <img src="assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-05.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 title">
                    Final screens
                  </div>
                  <div class="col-xs-12">
                    <img src="assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-06.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row xs-hidden">
                  <div class="col-xs-12">
                    <img src="assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-07.jpg" class="img-responsive"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row-custom ">
            <div class="row">
              <div class="col-xs-12">
                <img src="assets/img/craftsy/{{getAssetDir()}}/craftsy-gajowniczek-08.jpg" class="img-responsive"/>
              </div>
            </div>
          </div>
        </div>
      </div>
				<div class="p2-row-custom container">
					<div class="vertical-align">
						<div>
							<div class="row mb-4">
								<div class="col-md-8">
									<h2>Learnings and takeaways</h2>
									<div>
										<p>My final conclusion is that this project was a great lesson in taking compromises between usability and visual language of the product. Few times I had to simplify some of the layouts. Although they were visually interesting their purpose was not obvious for the users. Instead, I had to find the right balance between visual attractiveness and functionality.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="p2-row p2-similar-projects--row">
					<div class="container">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Similar projects</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 p2-similar-projects--container">
									<img id="lutenisa-item" class="img-responsive pointer"
									src="assets/img/nope/nope-gajowniczek-thumb.jpg"
									ng-click="goTo($event, '/nope')"
									data-animation-color="#305FC4">
									<a class="p2-similar-projects--title pointer">Nope</a>
									<a class="p2-similar-projects--subtitle pointer">UI/UX Design</a>
								</div>
								<div class="col-md-6 pointer xs-mt-5 p2-similar-projects--container"
								ng-click="goTo($event, '/dcmn')">
								<img id="movie-series-item" class="img-responsive pointer"
								src="assets/img/dcmn/dcmn-gajowniczek-thumb.jpg"
								ng-click="goTo($event, '/dcmn')"
								data-animation-color="#2BA5B5">
								<a class="p2-similar-projects--title pointer">DCMN</a>
								<a class="p2-similar-projects--subtitle pointer">Webdesign</a>
							</div>
						</div>
					</div>
				</div>
			</div>
      <div class="row-container-custom p2-footer">
        <div class=" container xs-mt-5">
          <div class="social-links-container" class="clearfix">
            <div class="content-container centered-container">
              <a id="linkedin" href="https://www.linkedin.com/in/renatagajowniczek" target="_blank"></a>
              <a id="dribbble" href="https://dribbble.com/RenataGajowniczek" target="_blank"></a>
              <a id="behance" href="https://www.behance.net/gajowniczek" target="_blank"></a>
            </div>
          </div>
          <div id="impressum" class="clearfix  sp-bottom">
            <div class="content-container centered-container">
              <p>© Renata Gajowniczek, 2020</p>
            </div>
          </div>
        </div>
      </div>
      <!---------------------- content end   ---------------------------->
    </div>
  </div>
</main>
<div ng-hide="!(loading && initializing)" class="loader-wrapper background-color">
  <div class="content-container spinner-container">
    <div class="sk-rotating-plane"></div>
  </div>
</div>
