<style>
  .background-color {
    background-color: #2BA5B5;
  }

  .background-fade-color {
    background-color: rgba(43, 165, 181, 0.95);
  }

  .background-white {
    background-color: #FFF;
  }

  .p2-objectives {
    background-color: #F2F2F2;
  }
  
  .p2-objectives .p2-objectives--number {
    background-color: #2BA5B5;
  }

</style>


<main id="dcmn" class=" z-index-2500 background-color">
  <div class="">
    <div ng-if="!(loading || !initializing)" class="fade-in">
      <div class="portfolio-top-nav">
        <div class="">
          <div ng-hide="loading || !initializing" class="fade-in">
            <div class="close-button-fixed pointer fast-fade-in">
              <span href ng-click="goHome()" class="portofolio-close">CLOSE</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div ng-hide="loading || !initializing" class="fade-in background-white">
          <!---------------------- content start----------------------------->
          <div class="p2-row-image"
               style="background-image: url('assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-01.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-01.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row container p2-top">
            <div class="vertical-align">
              <div class="row ">
                <div class="col-md-8">
                  <h2>Overview</h2>
                  <div class="p2-top-description">
					<p>DCMN is a marketing and advertising company working for digital brands and startups. After a recent rebranding, the agency needed a new design for the homepage, which was the task assigned to a few of my colleagues and me.</p>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-3 xs-hidden">
                  <div class="p2-overview-detail-container">
                    <div class="bold">Software</div>
                    <div>Sketch <br> Invision</div>
                  </div>
                  <div class="p2-overview-detail-container mt-3">
                    <div class="bold">Team</div>
                    <div>UX Designer<br>Visual Designer<br>Social Media Manager</div>
                  </div>
                  <div class="p2-overview-detail-container mt-3">
                    <div class="bold">Duration</div>
                    <div>3 months</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row-image"
               style="background-image: url('assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-02.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-02.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row container">
            <div class="vertical-align">
              <div class="row">
                <div class="col-md-8">
                  <h2>Purpose and context</h2>
                  <div>
                    <p>At the time when our team started working on the redesign of the homepage, DCMN already had a well-developed branding in place. Our task was to tie the visual language of the web design with already existing brand assets. What was even more important, was to tell a coherent story of the brand and available services to its clients.</p>
                    <p>To understand better our purpose we started running the interviews and created the storytelling around: Media Planning & Booking, Brand Strategy, Creation & Production, Technology & Innovation and Insights.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row p2-objectives">
            <div class="vertical-align">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <h2>Objectives</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="p2-objectives--number">
                      1
                    </div>
                    <div class="p2-objectives--title">
                      Interviewing stakeholders
                    </div>
                    <div class="p2-objectives--description">
                      Talking to owners and teams to understand the expectations and needs of their clients.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="p2-objectives--number xs-mt-2">
                      2
                    </div>
                    <div class="p2-objectives--title">
                      Understanding the context
                    </div>
                    <div class="p2-objectives--description">
                      Researching the strengths and weaknesses of other agencies working in the same field.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="p2-objectives--number xs-mt-2">
                      3
                    </div>
                    <div class="p2-objectives--title">
                      Testing and implementing
                    </div>
                    <div class="p2-objectives--description">
                      Running user tests and implementing the changes accordingly to received feedback.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row-custom container">
            <div class="vertical-align">
				<div>
					<div class="row">
						<div class="col-md-8">
							<h2>Moodboard</h2>
							<div>
								<p>Animated, multicoloured grids are the main elements of the branding for DCMN. I decided to concentrate my research on subtle layouts that would give some space to animations and messaging of the brand. Below are some examples of clean and grid-based layouts that were my inspirations.</p>
							</div>
						</div>
					</div>
				</div>
            </div>
          </div>
          <div class="p2-row-image mt-4" style="background-image: url('assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-03.jpg')"></div>
          <div class="p2-row-image-mobile mt-3">
            <img src="assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-03.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row-custom container">
            <div class="vertical-align">
              <div class="">
                <div class="row">
                  <div class="col-md-8">
                    <h2>Branding</h2>
                    <div>
                      <p>The visual language of the website is based on multicoloured grids that change after each reload of the site and on the colour code assigned to each of the five services.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 title">
                    Typography
                  </div>
                  <div class="col-xs-12">
                    <img src="assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-04.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 title">
                    Service’s colours
                  </div>
                  <div class="col-xs-12">
                    <img src="assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-05.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 title">
                    Final screens
                  </div>
                  <div class="col-xs-12">
                    <img src="assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-06.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <img src="assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-07.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row xs-hidden">
                  <div class="col-xs-12">
                    <img src="assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-08.jpg" class="img-responsive"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

			<div class="p2-row-image mt-10" style="background-image: url('assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-09.jpg')"></div>
			<div class="p2-row-image-mobile mt-5">
				<img src="assets/img/dcmn/{{getAssetDir()}}/dcmn-gajowniczek-09.jpg" width="100%" class="img-responsive"/>
			</div>

			<div class="p2-row-custom container">
				<div class="vertical-align">
					<div>
						<div class="row mb-4">
							<div class="col-md-8">
								<h2>Learnings and takeaways</h2>
								<div>
									<p>Seemingly easy project can turn into an enormous task when there are many voices to represent. Filtering through those voices and giving them the same tone was probably the biggest challenge of this assignment. Not to mention understanding different structures and services at the company. Learning the ‘bigger picture’ and later testing the designs was probably the most interesting part of the project.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
				<div class="p2-row p2-similar-projects--row">
					<div class="container">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Other projects</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 p2-similar-projects--container">
									<img id="movie-series-item" class="img-responsive pointer"
									src="assets/img/movie-series/movie-series-gajowniczek-thumb.jpg"
									ng-click="goTo($event, '/movie-series')"
									data-animation-color="#69669F">
									<a class="p2-similar-projects--title pointer">Horror Movies</a>
									<a class="p2-similar-projects--subtitle pointer">Packaging</a>
								</div>
								<div class="col-md-6 pointer xs-mt-5 p2-similar-projects--container"
									ng-click="goTo($event, '/kitchen-beats')">
									<img id="kitchen-beats-item" class="img-responsive pointer"
									src="assets/img/kitchen-beats/kitchen-beats-gajowniczek-thumb.jpg"
									ng-click="goTo($event, '/kitchen-beats')"
									data-animation-color="#42998F">
									<a class="p2-similar-projects--title pointer">Kitchen Beats</a>
									<a class="p2-similar-projects--subtitle pointer">UI/UX Design</a>
								</div>
							</div>
					</div>
				</div>
			</div>
      <div class="row-container-custom p2-footer">
        <div class=" container xs-mt-5">
          <div class="social-links-container" class="clearfix">
            <div class="content-container centered-container">
              <a id="linkedin" href="https://www.linkedin.com/in/renatagajowniczek" target="_blank"></a>
              <a id="dribbble" href="https://dribbble.com/RenataGajowniczek" target="_blank"></a>
              <a id="behance" href="https://www.behance.net/gajowniczek" target="_blank"></a>
            </div>
          </div>
          <div id="impressum" class="clearfix  sp-bottom">
            <div class="content-container centered-container">
              <p>© Renata Gajowniczek, 2020</p>
            </div>
          </div>
        </div>
      </div>
      <!---------------------- content end   ---------------------------->
    </div>
  </div>
</main>
<div ng-hide="!(loading && initializing)" class="loader-wrapper background-color">
  <div class="content-container spinner-container">
    <div class="sk-rotating-plane"></div>
  </div>
</div>
