<style>
  .background-color {
    background-color: #2E3349;
  }

  .background-fade-color {
    background-color: rgba(90, 83, 177, 0.95);
  }

  .background-white {
    background-color: #FFF;
  }

  .p2-objectives {
    background-color: #e1dfe0;
  }
  
  .p2-objectives .p2-objectives--number {
    background-color: #4847A4;
  }

</style>


<main id="illustration" class=" z-index-2500 background-color">
  <div class="">
    <div ng-if="!(loading || !initializing)" class="fade-in">
      <div class="portfolio-top-nav">
        <div class="">
          <div ng-hide="loading || !initializing" class="fade-in">
            <div class="close-button-fixed pointer fast-fade-in">
              <span href ng-click="goHome()" class="portofolio-close">CLOSE</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div ng-hide="loading || !initializing" class="fade-in background-white">
          <!---------------------- content start----------------------------->
          <div class="p2-row-image"
               style="background-image: url('assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-01.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-01.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row container p2-top">
            <div class="vertical-align">
              <div class="row ">
                <div class="col-md-8">
                  <h2>Overview</h2>
                  <div class="p2-top-description">
					<p>Collection of various sketches and paintings prepared fully with digital tools. Until now I was interested in such a topics as people, animals, urban spaces and environments. However, I’m always searching for new topics and inspirations to expand my skills.</p>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-3 xs-hidden">
                  <div class="p2-overview-detail-container">
                    <div class="bold">Tools</div>
                    <div>Wacom Intuos Pro<br>Photoshop</div>
                  </div>
                  <div class="p2-overview-detail-container mt-3">
                    <div class="bold">Team</div>
                    <div>Individual</div>
                  </div>
                  <!-- <div class="p2-overview-detail-container mt-3">
                    <div class="bold">Duration</div>
                    <div>3 weeks</div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
			<div class="p2-row-image" style="background-image: url('assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-05.jpg')"></div>
			<div class="p2-row-image-mobile">
				<img src="assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-05.jpg" width="100%" class="img-responsive"/>
			</div>
			<div class="p2-row p2-objectives">
				<div class="vertical-align">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<h2>Objectives</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="p2-objectives--number">
									1
								</div>
								<div class="p2-objectives--title">
									Finding references
								</div>
								<div class="p2-objectives--description">
									Searching for other illustrations or photography that already covered researched by me topic. Deciding about visual direction.
								</div>
							</div>
							<div class="col-md-4">
								<div class="p2-objectives--number xs-mt-2">
									2
								</div>
								<div class="p2-objectives--title">
									Studing the topic
								</div>
								<div class="p2-objectives--description">
									Sketching the objects in order to understand their characteristics such as form, proportions, texture or movement.
								</div>
							</div>
							<div class="col-md-4">
								<div class="p2-objectives--number xs-mt-2">
									3
								</div>
								<div class="p2-objectives--title">
									Preparing for final illustration
								</div>
								<div class="p2-objectives--description">
									Drawing thumbnails, collecting colouor moodboords, writing down the story that stands behind the character or scene 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="p2-row container">
				<div class="vertical-align">
					<div class="row">
						<div class="col-md-8">
							<h2>First sketches</h2>
							<div>
								<p>This part is very vital for the whole process. I use it mainly to study chosen by me topics and to expand the visual library that I’m storing in my memory. I might use it to learn how to draw new objects or to research various compositions, characters or stories.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="p2-row-image" style="background-image: url('assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-03.jpg')"></div>
			<div class="p2-row-image-mobile">
				<img src="assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-03.jpg" width="100%" class="img-responsive"/>
			</div>
			<div class="p2-row-image" style="background-image: url('assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-04.jpg')"></div>
			<div class="p2-row-image-mobile">
				<img src="assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-04.jpg" width="100%" class="img-responsive"/>
			</div>
			<div class="p2-row container">
				<div class="vertical-align">
					<div class="row">
						<div class="col-md-8">
							<h2>Final illustration</h2>
							<div>
								<p>Once I’m done with all my preparations I’m moving on to the final stage of painting my illustrations. I tend to remove all the outlines and keep a painterly style that tries to emulate traditional techniques. I prepare some of the brushes myself by scanning water colour or linocut textures.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		  
          <div class="p2-row-image"
               style="background-image: url('assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-02.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-02.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row-image"
               style="background-image: url('assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-06.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-06.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row-image"
               style="background-image: url('assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-07.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-07.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row-image"
               style="background-image: url('assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-08.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-08.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row-image"
               style="background-image: url('assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-09.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-09.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row-image"
               style="background-image: url('assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-10.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/illustration/{{getAssetDir()}}/illustration-gajowniczek-10.jpg" width="100%" class="img-responsive"/>
          </div>
				<div class="p2-row-custom container">
					<div class="vertical-align">
						<div>
							<div class="row mb-4">
								<div class="col-md-8">
									<h2>Learnings and takeaways</h2>
									<div>
										<p>Until recently I used my digital painting skills to copy images or to create new scenes with help of references. The older I am the more I realise how powerful design thinking is and that I can use it also in my paintings. My goal is to introduce story telling into my environments and design thought through characters. Hopefully, I can develop a style that would also fit well into my webdesign projects.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="p2-row p2-similar-projects--row">
					<div class="container">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Other projects</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 pointer xs-mt-5 p2-similar-projects--container"
									ng-click="goTo($event, '/kitchen-beats')">
									<img id="kitchen-beats-item" class="img-responsive pointer"
									src="assets/img/kitchen-beats/kitchen-beats-gajowniczek-thumb.jpg"
									ng-click="goTo($event, '/kitchen-beats')"
									data-animation-color="#42998F">
									<a class="p2-similar-projects--title pointer">Kitchen Beats</a>
									<a class="p2-similar-projects--subtitle pointer">UI/UX Design</a>
								</div>
								<div class="col-md-6 p2-similar-projects--container">
									<img id="overcome-autism-item" class="img-responsive pointer"
									src="assets/img/overcome-autism/pokonac-autyzm-gajowniczek-thumb.jpg"
									ng-click="goTo($event, '/overcome-autism')"
									data-animation-color="#FC7572">
									<a class="p2-similar-projects--title pointer">Overcome Autism</a>
									<a class="p2-similar-projects--subtitle pointer">Branding</a>
								</div>
							</div>
					</div>
				</div>
			</div>
      <div class="row-container-custom p2-footer">
        <div class=" container xs-mt-5">
          <div class="social-links-container" class="clearfix">
            <div class="content-container centered-container">
              <a id="linkedin" href="https://www.linkedin.com/in/renatagajowniczek" target="_blank"></a>
              <a id="dribbble" href="https://dribbble.com/RenataGajowniczek" target="_blank"></a>
              <a id="behance" href="https://www.behance.net/gajowniczek" target="_blank"></a>
            </div>
          </div>
          <div id="impressum" class="clearfix  sp-bottom">
            <div class="content-container centered-container">
              <p>© Renata Gajowniczek, 2020</p>
            </div>
          </div>
        </div>
      </div>
      <!---------------------- content end   ---------------------------->
    </div>
  </div>
</main>
<div ng-hide="!(loading && initializing)" class="loader-wrapper background-color">
  <div class="content-container spinner-container">
    <div class="sk-rotating-plane"></div>
  </div>
</div>
