<style>
	.background-color {
		background-color: #FFF;
	}

	.background-fade-color {
		background-color: rgba(240, 201, 48, 0.95);
	}

	.p2-objectives {
		background-color: #F2F2F2;
	}

	.p2-objectives .p2-objectives--number {
		background-color: #4E66D8;
	}

</style>


<main id="me-daily" class=" z-index-2500 background-color">
	<div class="">
		<div ng-if="!(loading || !initializing)" class="fade-in">
			<div class="portfolio-top-nav">
				<div class="">
					<div ng-hide="loading || !initializing" class="fade-in">
						<div class="close-button-fixed pointer fast-fade-in">
							<span href ng-click="goHome()" class="portofolio-close">CLOSE</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div ng-hide="loading || !initializing" class="fade-in">
					<!---------------------- content start----------------------------->
					<div class="p2-row-image"
					style="background-image: url('assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-01.jpg')"></div>
					<div class="p2-row-image-mobile">
						<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-01.jpg" width="100%" class="img-responsive"/>
					</div>
					<div class="p2-row container p2-top">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Overview</h2>
									<div class="p2-top-description">
										<p>A concept for a to-do list application that simplifies management of tracking daily routines. From planning a call with the best friend to creating a learning routine for German language. Me Daily helps to keep under control all of the simple activities.</p>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-3 xs-hidden">
									<div class="p2-overview-detail-container">
										<div class="bold">Software</div>
										<div>Sketch, Invision</div>
									</div>
									<div class="p2-overview-detail-container mt-3">
										<div class="bold">Team</div>
										<div>Individual</div>
									</div>
									<div class="p2-overview-detail-container mt-3">
										<div class="bold">Duration</div>
										<div>3 weeks</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="p2-row-image" style="background-image: url('assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-02.jpg')"></div>
					<div class="p2-row-image-mobile">
						<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-02.jpg" width="100%" class="img-responsive"/>
					</div>
					<div class="p2-row container">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Purpose and context</h2>
									<div>
										<p>To-do lists are a quite popular type of applications available on the market. To understand them better I decided to analyse few currently available products. Following users feedback I chose to concentrate on calendar, categories, reminders and editing options for single task.</p>
										<p>From the visual perspective I observed that most of the analysed by me apps where quite subtle when it comes to colour choices. I decided to experiment with multi-coloured branding, which could be both useful for the user and making the branding stand out.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="p2-row p2-objectives">
							<div class="vertical-align">
								<div class="container">
									<div class="row">
										<div class="col-md-8">
											<h2>Objectives</h2>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="p2-objectives--number">
												1
											</div>
											<div class="p2-objectives--title">
												Competitor analysis
											</div>
											<div class="p2-objectives--description">
												Researching strengths and weaknesses of the most popular to-do list apps that are currently available.
											</div>
										</div>
										<div class="col-md-4">
											<div class="p2-objectives--number xs-mt-2">
												2
											</div>
											<div class="p2-objectives--title">
												Building hierarchy
											</div>
											<div class="p2-objectives--description">
												Understanding the most important functionalities of the design and making them stand out.
											</div>
										</div>
										<div class="col-md-4">
											<div class="p2-objectives--number xs-mt-2">
												3
											</div>
											<div class="p2-objectives--title">
												Evoking emotions
											</div>
											<div class="p2-objectives--description">
												Bringing vivid colours, organic shapes and illustrations to create a personality of the brand.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="p2-row-custom container">
							<div class="vertical-align">
								<div>
									<div class="row">
										<div class="col-md-8">
											<h2>Wireframes</h2>
											<div>
												<p>I created some initial sketches and digitalised them into wireframes shown below. Testing them allowed me to create a proper structure of my layout and save some time before starting more visually oriented design.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="p2-row-image mt-4"
						style="background-image: url('assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-03.jpg')"></div>
						<div class="p2-row-image-mobile mt-3">
							<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-03.jpg" width="100%" class="img-responsive"/>
						</div>
						<div class="p2-row-custom container">
							<div class="vertical-align">
								<div>
									<div class="row">
										<div class="col-md-8">
											<h2>Moodboard</h2>
											<div>
												<p>I concentrated my research on visuals full of playfulness, vivid colours and organic shapes. Since Me Daily doesn’t require any photographic elements I decided to tell the story of the brand with illustration based moodboard. I consider it the best way of managing expectations at early stages of branding.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="p2-row-image mt-4"
						style="background-image: url('assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-04.jpg')"></div>
						<div class="p2-row-image-mobile mt-3">
							<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-04.jpg" width="100%" class="img-responsive"/>
						</div>
						<div class="p2-row-custom container">
							<div class="vertical-align">
								<div class="">
									<div class="row">
										<div class="col-md-8">
											<h2>Branding</h2>
											<div>
												<p>The visual language of Me Daily is based on contrast between white space, simple UI elements and organic shapes of illustrations & backgrounds.</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 title">
											Typography
										</div>
										<div class="col-xs-12">
											<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-05.jpg" class="img-responsive"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 title">
											Primary colours
										</div>
										<div class="col-xs-12">
											<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-06.jpg" class="img-responsive"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 title">
											Secondary colours (illustration)
										</div>
										<div class="col-xs-12">
											<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-07.jpg" class="img-responsive"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 title">
											Icons
										</div>
										<div class="col-xs-12">
											<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-08.jpg" class="img-responsive"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 title">
											Illustrations
										</div>
										<div class="col-xs-12">
											<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-09.jpg" class="img-responsive"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 title">
											Final screens
										</div>
										<div class="col-xs-12">
											<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-10.jpg" class="img-responsive"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-11.jpg" class="img-responsive"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<img src="assets/img/me-daily/{{getAssetDir()}}/me-daily-gajowniczek-12.jpg" class="img-responsive"/>
										</div>
									</div>
								</div>
							</div>
						</div>



				<div class="p2-row-custom container">
					<div class="vertical-align">
						<div>
							<div class="row mb-4">
								<div class="col-md-8">
									<h2>Learnings and takeaways</h2>
									<div>
										<p>Finding the right colour scheme was probably the biggest challenge and learning in this project. Most of the elements in this branding are based on 3 primary colours and typical golden ratio proportion (6:3:1). Where dark blue is a dominant colour, read is an accent for all call to actions and grey remains neutral. Secondary colours present in this branding are reserved for illustrations and tags.  </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="p2-row p2-similar-projects--row">
					<div class="container">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Similar projects</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 p2-similar-projects--container">
									<img id="lutenisa-item" class="img-responsive pointer"
									src="assets/img/nope/nope-gajowniczek-thumb.jpg"
									ng-click="goTo($event, '/nope')"
									data-animation-color="#305FC4">
									<a class="p2-similar-projects--title pointer">Nope</a>
									<a class="p2-similar-projects--subtitle pointer">UI/UX Design</a>
								</div>
								<div class="col-md-6 pointer xs-mt-5 p2-similar-projects--container"
								ng-click="goTo($event, '/dcmn')">
								<img id="movie-series-item" class="img-responsive pointer"
								src="assets/img/dcmn/dcmn-gajowniczek-thumb.jpg"
								ng-click="goTo($event, '/dcmn')"
								data-animation-color="#2BA5B5">
								<a class="p2-similar-projects--title pointer">DCMN</a>
								<a class="p2-similar-projects--subtitle pointer">Webdesign</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row-container-custom p2-footer">
				<div class=" container xs-mt-5">
					<div class="social-links-container" class="clearfix">
						<div class="content-container centered-container">
							<a id="linkedin" href="https://www.linkedin.com/in/renatagajowniczek" target="_blank"></a>
							<a id="dribbble" href="https://dribbble.com/RenataGajowniczek" target="_blank"></a>
							<a id="behance" href="https://www.behance.net/gajowniczek" target="_blank"></a>
						</div>
					</div>
					<div id="impressum" class="clearfix  sp-bottom">
						<div class="content-container centered-container">
							<p>© Renata Gajowniczek, 2020</p>
						</div>
					</div>
				</div>
			</div>
			<!---------------------- content end   ---------------------------->
		</div>
	</div>
</main>
<div ng-hide="!(loading && initializing)" class="loader-wrapper background-color">
	<div class="content-container spinner-container">
		<div class="sk-rotating-plane"></div>
	</div>
</div>
