<style>
  .background-color {
    background-color: #fff;
  }

  .background-fade-color {
    background-color: rgba(247, 200, 195, 0.95);
  }

  .p2-objectives {
    background-color: #F7C8C3;
  }

  .p2-objectives .p2-objectives--number {
    background-color: #305FC4;
  }

</style>


<main id="nope" class=" z-index-2500 background-color">
  <div class="">
    <div ng-if="!(loading || !initializing)" class="fade-in">
      <div class="portfolio-top-nav">
        <div class="">
          <div ng-hide="loading || !initializing" class="fade-in">
            <div class="close-button-fixed pointer fast-fade-in">
              <span href ng-click="goHome()" class="portofolio-close">CLOSE</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div ng-hide="loading || !initializing" class="fade-in">
          <!---------------------- content start----------------------------->
          <div class="p2-row-image"
               style="background-image: url('assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-01.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-01.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row container p2-top">
            <div class="vertical-align">
              <div class="row ">
                <div class="col-md-8">
                  <h2>Overview</h2>
                  <div class="p2-top-description">
					<p>Nope! is a concept for a fashion brand dedicated for teenagers and young women. It’s main purpose is to promote young designers and produce fair fashion. As a talent incubator Nope! supports emerging talents in their first steps of advertising themselves.</p>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-3 xs-hidden">
                  <div class="p2-overview-detail-container">
                    <div class="bold">Software</div>
                    <div>Sketch, Invision</div>
                  </div>
                  <div class="p2-overview-detail-container mt-3">
                    <div class="bold">Team</div>
                    <div>Individual</div>
                  </div>
                  <div class="p2-overview-detail-container mt-3">
                    <div class="bold">Duration</div>
                    <div>4 weeks</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row-image"
               style="background-image: url('assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-02.jpg')"></div>
          <div class="p2-row-image-mobile">
            <img src="assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-02.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row container">
            <div class="vertical-align">
              <div class="row">
                <div class="col-md-8">
                  <h2>Purpose and context</h2>
                  <div>
                    <p>Nope! is a responsive web application that offers its products to women in standard categories such
                    as:
                    dresses, shorts, jackets, t-shirts, trausers etc. Each of the products is available in different
                    sizes
                    and colours. The general interface corresponds with currently available fashion websites. It’s
                    intuitive
                    and easy to learn for the user.</p>
                    <p>What makes this website stand out is a grid system and simple geometrical elements combined with the
                    photos of the presented products.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row p2-objectives">
            <div class="vertical-align">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <h2>Objectives</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="p2-objectives--number">
                      1
                    </div>
                    <div class="p2-objectives--title">
                      Competitor analysis
                    </div>
                    <div class="p2-objectives--description">
                      Researching strengths and weaknesses of the most popular fashion brands that are currently
                      available.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="p2-objectives--number xs-mt-2">
                      2
                    </div>
                    <div class="p2-objectives--title">
                      Layout system
                    </div>
                    <div class="p2-objectives--description">
                      Creating a grid system that allows to present products in efficient and attractive ways to the
                      users
                      of the website.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="p2-objectives--number xs-mt-2">
                      3
                    </div>
                    <div class="p2-objectives--title">
                      Coherent visual language
                    </div>
                    <div class="p2-objectives--description">
                      Creating a believable experience that is consistent across all the visual elements of the brand.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row-custom container">
            <div class="vertical-align">
				<div>
					<div class="row">
						<div class="col-md-8">
							<h2>Wireframes</h2>
							<div>
								<p>Low and mid fidelity wireframes are the typical elements of my working process. Testing them allows me to save a lot of time and eliminate some of the flaws in my designs. Presented below are the digitalised low fidelity sketches.</p>
							</div>
						</div>
					</div>
				</div>
            </div>
          </div>
          <div class="p2-row-image mt-4"
               style="background-image: url('assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-03.jpg')"></div>
          <div class="p2-row-image-mobile mt-3">
            <img src="assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-03.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row-custom container">
            <div class="vertical-align">
				<div>
					<div class="row">
						<div class="col-md-8">
							<h2>Moodboard</h2>
							<div>
								<p>Nope! concentrates on casual fashion and big number of products under various categories. I decided to use it as my advantage and search for grid based inspirations. Geometric shapes dividing further the layout seemed like a natural next step. Liveliness of vivid colours played also a big part.</p>
							</div>
						</div>
					</div>
				</div>
            </div>
          </div>
          <div class="p2-row-image mt-4" style="background-image: url('assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-04.jpg')"></div>
          <div class="p2-row-image-mobile mt-3">
            <img src="assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-04.jpg" width="100%" class="img-responsive"/>
          </div>
          <div class="p2-row-custom p2-branding container">
            <div class="vertical-align">
              <div class="">
                <div class="row">
                  <div class="col-md-8">
                    <h2>Branding</h2>
                    <div>
                      The visual language of Nope! is based on simple geometric shapes, grid layout, one element fonts
                      and
                      playful colours contrasted with white space.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 title">
                    Typography
                  </div>
                  <div class="col-xs-12">
                    <img src="assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-05.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 title">
                    Colours
                  </div>
                  <div class="col-xs-12">
                    <img src="assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-06.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 title">
                    Final screens
                  </div>
                  <div class="col-xs-12">
                    <img src="assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-07.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <img src="assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-08.jpg" class="img-responsive"/>
                  </div>
                </div>
                <div class="row xs-hidden">
                  <div class="col-xs-12">
                    <img src="assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-09.jpg" class="img-responsive"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2-row-custom">
            <div class="row">
              <div class="col-xs-12">
                <img src="assets/img/nope/{{getAssetDir()}}/nope-gajowniczek-10.jpg" class="img-responsive"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p2-row-custom container">
        <div class="vertical-align">
		 <div>
          <div class="row mb-4">
            <div class="col-md-8">
              <h2>Learnings and takeaways</h2>
              <div>
                <p>Products presented under the label Nope! can be categorised as a casual fashion. Their main value is
                hidden in small details, quality and fair production. The biggest challenge was to create a visual
                language that would stand out from the competition with its own character, but at the same time not
                overpower the presented products.</p>
              </div>
            </div>
		   </div>
          </div>
        </div>
      </div>
      <div class="p2-row p2-similar-projects--row">
        <div class="container">
          <div class="vertical-align">
            <div class="row">
              <div class="col-md-8">
                <h2>Similar projects</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 p2-similar-projects--container"
                   ng-click="goToWithTarget('#words-item', '/words')"
                   data-animation-color="#00A5E4">
                <img id="words-item" class="img-responsive pointer"
                     src="assets/img/words/words-gajowniczek-thumb.jpg"
                     >
                <a class="p2-similar-projects--title pointer">Words</a>
                <a class="p2-similar-projects--subtitle pointer">UI/UX Design</a>
              </div>
              <div class="col-md-6 pointer xs-mt-5 p2-similar-projects--container"
                   ng-click="goToWithTarget('#dcmn-item', '/dcmn')"
                   data-animation-color="#2BA5B5">
                <img id="dcmn-item" class="img-responsive pointer"
                     src="assets/img/dcmn/dcmn-gajowniczek-thumb.jpg"
                     >
                <a class="p2-similar-projects--title pointer">DCMN</a>
                <a class="p2-similar-projects--subtitle pointer">Webdesign</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-container-custom p2-footer">
        <div class=" container xs-mt-5">
          <div class="social-links-container" class="clearfix">
            <div class="content-container centered-container">
              <a id="linkedin" href="https://www.linkedin.com/in/renatagajowniczek" target="_blank"></a>
              <a id="dribbble" href="https://dribbble.com/RenataGajowniczek" target="_blank"></a>
              <a id="behance" href="https://www.behance.net/gajowniczek" target="_blank"></a>
            </div>
          </div>
          <div id="impressum" class="clearfix  sp-bottom">
            <div class="content-container centered-container">
              <p>© Renata Gajowniczek, 2020</p>
            </div>
          </div>
        </div>
      </div>
      <!---------------------- content end   ---------------------------->
    </div>
  </div>
</main>
<div ng-hide="!(loading && initializing)" class="loader-wrapper background-color">
  <div class="content-container spinner-container">
    <div class="sk-rotating-plane"></div>
  </div>
</div>
