<style>
	.background-color {
		background-color: #FC7572;
	}

	.background-fade-color {
		background-color: rgba(240, 201, 48, 0.95);
	}

    .background-white {
      background-color: #FFF;
    }
	
	.p2-objectives {
		background-color: #F2F2F2;
	}

	.p2-objectives .p2-objectives--number {
		background-color: #FC7572;
	}

</style>


<main id="overcome-autism" class=" z-index-2500 background-color">
	<div class="">
		<div ng-if="!(loading || !initializing)" class="fade-in">
			<div class="portfolio-top-nav">
				<div class="">
					<div ng-hide="loading || !initializing" class="fade-in">
						<div class="close-button-fixed pointer fast-fade-in">
							<span href ng-click="goHome()" class="portofolio-close">CLOSE</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div ng-hide="loading || !initializing" class="fade-in background-white">
					<!---------------------- content start----------------------------->
					<div class="p2-row-image"
					style="background-image: url('assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-01.jpg')"></div>
					<div class="p2-row-image-mobile">
						<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-01.jpg" width="100%" class="img-responsive"/>
					</div>
					<div class="p2-row container p2-top">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Overview</h2>
									<div class="p2-top-description">
										<p>Overcome Autism is a visual identity for a concept foundation fighting against children’s autism. The project includes promotional materials, leaflet, patterns for bag and T-shirt, website’s layout and three posters.</p>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-3 xs-hidden">
									<div class="p2-overview-detail-container">
										<div class="bold">Software</div>
										<div>Photoshop<br>Indesign</div>
									</div>
									<div class="p2-overview-detail-container mt-3">
										<div class="bold">Team</div>
										<div>Individual</div>
									</div>
									<div class="p2-overview-detail-container mt-3">
										<div class="bold">Duration</div>
										<div>2 months</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="p2-row-image" style="background-image: url('assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-02.jpg')"></div>
					<div class="p2-row-image-mobile">
						<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-02.jpg" width="100%" class="img-responsive"/>
					</div>
					<div class="p2-row container">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Purpose and context</h2>
									<div>
										<p>In order to expand my portfolio, I decided to work on a project that would be related to children. For some time I was searching for topics related to childhood illnesses and in the end, I decided to work on branding for children’s foundation fighting against autism.</p>
										<p>I wanted to find a visual language that would be able to speak about a serious problem without painting it in a bad light. My main goal was to talk about the topics related to sickness in a playful and vigorous way typical for children in order to build a feeling of hope.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="p2-row p2-objectives">
							<div class="vertical-align">
								<div class="container">
									<div class="row">
										<div class="col-md-8">
											<h2>Objectives</h2>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="p2-objectives--number">
												1
											</div>
											<div class="p2-objectives--title">
												Understanding the problem
											</div>
											<div class="p2-objectives--description">
												Researching various children’s foundations in order to understand their main areas of activity.
											</div>
										</div>
										<div class="col-md-4">
											<div class="p2-objectives--number xs-mt-2">
												2
											</div>
											<div class="p2-objectives--title">
												Finding the visual theme
											</div>
											<div class="p2-objectives--description">
												Researching topics related to solutions, seemingly unsolvable problems or dissimilarity.
											</div>
										</div>
										<div class="col-md-4">
											<div class="p2-objectives--number xs-mt-2">
												3
											</div>
											<div class="p2-objectives--title">
												Designing the brand
											</div>
											<div class="p2-objectives--description">
												Concentrating on main elements for print and digital assets as well as goodies and takeaways. 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="p2-row-custom container">
							<div class="vertical-align">
								<div>
									<div class="row">
										<div class="col-md-8">
											<h2>Moodboard</h2>
											<div>
												<p>Ribbons and tangled lines were the main visual elements that showcasing the seemingly unsolvable problems and dissimilarity. Bright colours and playful typography were supposed to connect the brand with children and approach the serious topic in the more easy-going manner.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="p2-row-image mt-4"
						style="background-image: url('assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-03.jpg')"></div>
						<div class="p2-row-image-mobile mt-3">
							<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-03.jpg" width="100%" class="img-responsive"/>
						</div>
						<div class="p2-row-custom container">
							<div class="vertical-align">
								<div class="">
									<div class="row">
										<div class="col-md-8">
											<h2>Branding</h2>
											<div>
												<p>The main visual language of Overcome Autism uses various shades of blue and rounded typography in order to show playfulness and vigour typical for children.</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 title">
											Typography
										</div>
										<div class="col-xs-12">
											<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-04.jpg" class="img-responsive"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 title">
											Numbers
										</div>
										<div class="col-xs-12">
											<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-05.jpg" class="img-responsive"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 title">
											Primary colours
										</div>
										<div class="col-xs-12">
											<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-06.jpg" class="img-responsive"/>
										</div>
									</div>
								</div>	
							</div>		
						</div>
						
						<div class="p2-row-custom container">
							<div class="row">
								<div class="col-xs-12 title">
									Final assets
								</div>
							</div>
						</div>
						<div class="clearfix mx-15">
							<div class="col-xs-12 col-sm-6">
								<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-07.jpg" class="img-responsive"/>
							</div>
							<div class="col-xs-12 col-sm-6 col-mt-3">
								<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-08.jpg" class="img-responsive"/>
							</div>
						</div>
						<div class="row row-custom mx-15 clearfix">
							<div class="ccol-xs-12 col-sm-6">
								<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-09.jpg" class="img-responsive"/>
							</div>
							<div class="col-xs-12 col-sm-6">
								<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-10.jpg" class="img-responsive"/>
							</div>
						</div>
						<div class="row row-custom mx-15 clearfix">
							<div class="col-xs-12 col-sm-6">
								<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-11.jpg" class="img-responsive"/>
							</div>
							<div class="col-xs-12 col-sm-6">
								<img src="assets/img/overcome-autism/{{getAssetDir()}}/overcome-autism-gajowniczek-12.jpg" class="img-responsive"/>
							</div>
						</div>
						<div class="p2-row-custom container">
							<div class="vertical-align">
								<div>
									<div class="row mb-4">
										<div class="col-md-8">
											<h2>Learnings and takeaways</h2>
											<div>
												<p>Overcome Autism is a project that uses tangled lines as a main element of the visual language. The biggest challenge was to expand those visual elements since the brand required a lot of printed and digital assets. I had to consider various layouts to create a space for both text and imagery.  I think this project was a great exercise in creating a coherent brand.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="p2-row p2-similar-projects--row">
					<div class="container">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Other projects</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 pointer p2-similar-projects--container">
									<img id="illustration-item" class="img-responsive pointer"
									src="assets/img/illustration/illustration-gajowniczek-thumb.jpg"
									ng-click="goTo($event, '/illustration')"
									data-animation-color="#2E3349">
									<a class="p2-similar-projects--title pointer">Digital Paintings</a>
									<a class="p2-similar-projects--subtitle pointer">Personal Project</a>
								</div>
								<div class="col-md-6 pointer xs-mt-5 p2-similar-projects--container"
									ng-click="goTo($event, '/craftsy')">
									<img id="craftsy-item" class="img-responsive pointer"
									src="assets/img/craftsy/craftsy-gajowniczek-thumb.jpg"
									ng-click="goTo($event, '/craftsy')"
									data-animation-color="#5A53B1">
									<a class="p2-similar-projects--title pointer">Craftsy</a>
									<a class="p2-similar-projects--subtitle pointer">UI/UX Design</a>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="row-container-custom p2-footer">
				<div class=" container xs-mt-5">
					<div class="social-links-container" class="clearfix">
						<div class="content-container centered-container">
							<a id="linkedin" href="https://www.linkedin.com/in/renatagajowniczek" target="_blank"></a>
							<a id="dribbble" href="https://dribbble.com/RenataGajowniczek" target="_blank"></a>
							<a id="behance" href="https://www.behance.net/gajowniczek" target="_blank"></a>
						</div>
					</div>
					<div id="impressum" class="clearfix  sp-bottom">
						<div class="content-container centered-container">
							<p>© Renata Gajowniczek, 2020</p>
						</div>
					</div>
				</div>
			</div>
			<!---------------------- content end   ---------------------------->
		</div>
	</div>
</main>
<div ng-hide="!(loading && initializing)" class="loader-wrapper background-color">
	<div class="content-container spinner-container">
		<div class="sk-rotating-plane"></div>
	</div>
</div>
