<style>
	.background-color {
		background-color: #00A5E4;
	}

	.background-fade-color {
		background-color: rgba(0, 165, 228, 0.95);
	}

  .background-white {
    background-color: #FFF;
  }

	.p2-objectives {
		background-color: #ECEDEF;
	}

	.p2-objectives .p2-objectives--number {
		background-color: #01A4E3;
	}

</style>


<main id="words" class=" z-index-2500 background-color">
	<div class="">
		<div ng-if="!(loading || !initializing)" class="fade-in">
			<div class="portfolio-top-nav">
				<div class="">
					<div ng-hide="loading || !initializing" class="fade-in">
						<div class="close-button-fixed pointer fast-fade-in">
							<span href ng-click="goHome()" class="portofolio-close">CLOSE</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div ng-hide="loading || !initializing" class="fade-in background-white">
					<!---------------------- content start----------------------------->
					<div class="p2-row-image"
					style="background-image: url('assets/img/words/{{getAssetDir()}}/words-gajowniczek-01.jpg')"></div>
					<div class="p2-row-image-mobile">
						<img src="assets/img/words/{{getAssetDir()}}/words-gajowniczek-01.jpg" width="100%" class="img-responsive"/>
					</div>
					<div class="p2-row container p2-top">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Overview</h2>
									<div class="p2-top-description">
										<p>A concept for a simple note-taking application inspired by Dieter Rams’ ‘less but better’ approach.  All the elements of this product have a specific and minimalistic function. The app allows to edit notes and group them into simple lists.</p>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-3 xs-hidden">
									<div class="p2-overview-detail-container">
										<div class="bold">Software</div>
										<div>Sketch <br> Invision</div>
									</div>
									<div class="p2-overview-detail-container mt-3">
										<div class="bold">Team</div>
										<div>Individual</div>
									</div>
									<div class="p2-overview-detail-container mt-3">
										<div class="bold">Duration</div>
										<div>2 weeks</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="p2-row-image" style="background-image: url('assets/img/words/{{getAssetDir()}}/words-gajowniczek-08.jpg')"></div>
					<div class="p2-row-image-mobile">
						<img src="assets/img/words/{{getAssetDir()}}/words-gajowniczek-08.jpg" width="100%" class="img-responsive"/>
					</div>
					<div class="p2-row container">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Purpose and context</h2>
									<div>
										<p>This project was a part of my UI design certification from Career Foundry school. The specification for this product was simple - build a clean interface with minimal requirements. All of that based on one of Dieter Rams’ quote, which you can find at the end of this project.</p>
										<p>In order to execute this project I wanted to find a minimalistic and elegant language, that would help the user to concentrate on a simple task of writing down various thoughts in the form of notes. I started to search for inspirations loosely connected with imagination and creativity.</p>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="p2-row-image" style="background-image: url('assets/img/words/{{getAssetDir()}}/words-gajowniczek-02.jpg')"></div>
					<div class="p2-row-image-mobile">
						<img src="assets/img/words/{{getAssetDir()}}/words-gajowniczek-02.jpg" width="100%" class="img-responsive"/>
					</div>

					<div class="p2-row p2-objectives">
						<div class="vertical-align">
							<div class="container">
								<div class="row">
									<div class="col-md-8">
										<h2>Objectives</h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="p2-objectives--number">
											1
										</div>
										<div class="p2-objectives--title">
											Dieter Rams' rules
										</div>
										<div class="p2-objectives--description">
											Learning about the background of the designer and reading the ’10 principles of good design’.
										</div>
									</div>
									<div class="col-md-4">
										<div class="p2-objectives--number xs-mt-2">
											2
										</div>
										<div class="p2-objectives--title">
											Searching for the function
										</div>
										<div class="p2-objectives--description">
											Drawing low-fidelity wireframes for 5 of my screens and eliminating unnecessary elements.
										</div>
									</div>
									<div class="col-md-4">
										<div class="p2-objectives--number xs-mt-2">
											3
										</div>
										<div class="p2-objectives--title">
											Finding the style
										</div>
										<div class="p2-objectives--description">
											Letting the visual language to be defined by the necessary functions of the application.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="p2-row-custom container">
						<div class="vertical-align">
							<div>
								<div class="row">
									<div class="col-md-8">
										<h2>Moodboard</h2>
										<div>
											<p>Once I defined all the most important functions of the product I decided to search for my visual inspirations. Imagination and  creativity were the topics that I concentrated on. I wanted to give my product a dreamy and phantasmagoric feeling which I wanted to achieve with gradients.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="p2-row-image mt-4"
					style="background-image: url('assets/img/words/{{getAssetDir()}}/words-gajowniczek-03.jpg')"></div>
					<div class="p2-row-image-mobile mt-3">
						<img src="assets/img/words/{{getAssetDir()}}/words-gajowniczek-03.jpg" width="100%" class="img-responsive"/>
					</div>
					<div class="p2-row-custom container">
						<div class="vertical-align">
							<div class="">
								<div class="row">
									<div class="col-md-8">
										<h2>Branding</h2>
										<div>
											<p>Light and minimalistic. The visual language of Words is based on gradients and two types of fonts. Non-disruptive design helping to concentrate on writing down the notes.</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 title">
										Typography
									</div>
									<div class="col-xs-12">
										<img src="assets/img/words/{{getAssetDir()}}/words-gajowniczek-04.jpg" class="img-responsive"/>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 title">
										Primary colours
									</div>
									<div class="col-xs-12">
										<img src="assets/img/words/{{getAssetDir()}}/words-gajowniczek-05.jpg" class="img-responsive"/>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 title">
										Gradient
									</div>
									<div class="col-xs-12">
										<img src="assets/img/words/{{getAssetDir()}}/words-gajowniczek-06.jpg" class="img-responsive"/>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 title">
										Final screens
									</div>
									<div class="col-xs-12">
										<img src="assets/img/words/{{getAssetDir()}}/words-gajowniczek-07.jpg" class="img-responsive"/>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="p2-row-custom container">
						<div class="vertical-align">
							<div>
								<div class="row mb-4">
									<div class="col-md-8">
										<h2>Learnings and takeaways</h2>
										<div>
											<p>I have to admit that this project is probably one of the most minimalistic executions that I have worked on until this moment. I’ve noticed that this approach not only allows to concentrate on the functionality but also puts a heavier accent on basic elements such as typography, grids and white space. I believe this approach requires a lot of self-esteem and awareness from the designer.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="p2-row p2-similar-projects--row">
					<div class="container">
						<div class="vertical-align">
							<div class="row">
								<div class="col-md-8">
									<h2>Similar projects</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 pointer p2-similar-projects--container"
									ng-click="goTo($event, '/craftsy')">
									<img id="craftsy-item" class="img-responsive pointer"
									src="assets/img/craftsy/craftsy-gajowniczek-thumb.jpg"
									ng-click="goTo($event, '/craftsy')"
									data-animation-color="#5A53B1">
									<a class="p2-similar-projects--title pointer">Craftsy</a>
									<a class="p2-similar-projects--subtitle pointer">UI/UX Design</a>
								</div>
								<div class="col-md-6 pointer xs-mt-5 p2-similar-projects--container">
									<img id="nope-item" class="img-responsive pointer"
									src="assets/img/nope/nope-gajowniczek-thumb.jpg"
									ng-click="goTo($event, '/nope')"
									data-animation-color="#305FC4">
									<a class="p2-similar-projects--title pointer">Nope</a>
									<a class="p2-similar-projects--subtitle pointer">UI/UX Design</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="row-container-custom p2-footer">
				<div class=" container xs-mt-5">
					<div class="social-links-container" class="clearfix">
						<div class="content-container centered-container">
							<a id="linkedin" href="https://www.linkedin.com/in/renatagajowniczek" target="_blank"></a>
							<a id="dribbble" href="https://dribbble.com/RenataGajowniczek" target="_blank"></a>
							<a id="behance" href="https://www.behance.net/gajowniczek" target="_blank"></a>
						</div>
					</div>
					<div id="impressum" class="clearfix  sp-bottom">
						<div class="content-container centered-container">
							<p>© Renata Gajowniczek, 2020</p>
						</div>
					</div>
				</div>
			</div>
			<!---------------------- content end   ---------------------------->
		</div>
	</div>
</main>
<div ng-hide="!(loading && initializing)" class="loader-wrapper background-color">
	<div class="content-container spinner-container">
		<div class="sk-rotating-plane"></div>
	</div>
</div>
